@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("~/assets/fonts/beVietnam/BeVietnamPro-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
